# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# VS Code Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Python packages
*.egg-info/
dist/
build/

# Keras/TensorFlow Model files
*.h5
*.keras

# Logs
*.log

# Data files
data/
*.zip

# Ignore Kaggle API token
kaggle.json

# Ignore models
models/
venv/
models/
*.h5
*.keras
__pycache__/
